* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 618px;
    width: 657px;
}
#cartIcon {
    padding-left: 80px;
}
.div2 {
    display: flex;
    align-items: center;
}
.div2 h5 {
    padding-left: 20px;
    padding-right: 20px;
}

#cartTable td {
    vertical-align: middle;
}



#td1 img {
    display:block; width:100%; height:auto;
}


